@model List<Tuple<int, string, int>>
@{
    ViewBag.Title = "ApiContainer-Overview";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewBag.CurrController = "ApiContainer";
    ViewBag.CurrView = "Overview";
}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">@ViewBag.Title</h2>
    <div class="form-inline">
        <div class="form-group">
            <label>Site</label>
            <select id="sltSiteId" class="form-control">                
                @foreach (var item in Model)
                {
                    var selected = "";
                    if (item.Item1 == item.Item3)
                    {
                        selected = "selected=selected";
                    }
                    <option value="@item.Item1" @selected>@item.Item2</option>
                }
            </select>
        </div>
        <button id="btnShow" type="button" class="btn btn-primary">查看</button>
    </div>
    <div id="divUploadRecord" class="form-inline">
        
    </div>
    <div id="mInfoList"></div>
</div>
<script id="methodInfosTemplate" type="text/x-jquery-tmpl">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Verb</th>
                    <th>Path</th>
                    <th>Assembly</th>
                    <th>Service</th>
                    <th>Method</th>
                    <th>AsyncInvoke</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{each Mappings}}
                <tr>
                    <td>${$value.Verb}</td>
                    <td>${$value.Path}</td>
                    <td>${$value.Assembly}</td>
                    <td>${$value.Service}</td>
                    <td>${$value.Method}</td>
                    <td>${$value.AsyncInvoke}</td>
                    <td><i class="glyphicon glyphicon-remove icons" title="禁用"></i></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" type="button" id="btnUpload">上传</button>
    <button class="btn btn-primary" type="button" id="btnRollback">回滚</button>
</script>
<script id="uploadRecordTemplate" type="text/x-jquery-tmpl">
    <br>
    <label style="width: 80px">最近更新:</label><span>${addTime}</span><br>
    <label style="width: 80px">注释:</label><span>${remark}</span><br>
</script>
@section scripts{
    @Scripts.Render("/Scripts/jquery.tmpl.min.js")
    <script>
        $(function() {
            $("#btnShow").click(function() {
                GetMethodInfos($("#sltSiteId").val());
            });
            GetMethodInfos($("#sltSiteId").val());
        });

        function GetMethodInfos(siteId) {
            var parms = { "siteid": siteId };
            $.ajax({
                url: "/ApiContainer/MappingInfos",
                type: "GET",
                data: parms,
                dataType: "json",
                success: function(data) {
                    //显示uploadrecord
                    var record = { addTime: data.Res.LastAddTime, remark: data.Res.Remark };
                    $("#divUploadRecord").html($("#uploadRecordTemplate").tmpl(record));
                    //显示mapping
                    $("#mInfoList").html($("#methodInfosTemplate").tmpl(data.Res));
                    $("#mInfoList").find('#btnUpload').click(function () {
                        window.location.href = "UploadDll?siteid=" + siteId;
                    });
                    $("#mInfoList").find('#btnRollback').click(function () {
                        window.location.href = "Rollback?siteid=" + siteId;
                    });
                }
            });
        }
    </script>
}
