@model List<Tuple<int, string, int>>
@{
    ViewBag.Title = "ApiContainer-Rollback";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewBag.CurrController = "ApiContainer";
    ViewBag.CurrView = "Rollback";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="sub-header">@ViewBag.Title</h2>
    <div class="form-inline">
        <div class="form-group">
            <label>Site</label>
            <select id="sltSiteId" class="form-control">                
            @foreach (var item in Model)
            {
                var selected = "";
                if (item.Item1 == item.Item3)
                {
                    selected = "selected=selected";
                }
                <option value="@item.Item1" @selected>@item.Item2</option>
            }               
            </select>
        </div>
        <button id="btnShow" type="button" class="btn btn-primary">查看</button>
    </div>
    <div id="divUploadRecord" class="form-inline">
        
    </div>
    <div id="divRecordList"></div>
</div>
<script id="recordsTemplate" type="text/x-jquery-tmpl">
    <br/>
    <table id="tbl" style="">
        <tbody>
            <tr style="font-weight: bold">
                <td colspan="2">选则</td>
                <td colspan="2">AddTime</td>
                <td colspan="2">Remark</td>
            </tr>
            {{each Res}}
            <tr>
                {{if $value.RowNum==0}}              
                <td colspan="2"><span style="font-weight:700">Current</span></td>
                {{else}}
                <td colspan="2">
                    {{if $value.RowNum==1}}
                    <input type="radio" name="ckbRecord" checked="checked" value="${$value.Id}">
                    {{else}}
                    <input type="radio" name="ckbRecord" value="${$value.Id}">
                    {{/if}}
                </td>
                {{/if}}
                <td colspan="2"><span>${$value.AddTime}</span></td>
                <td colspan="2"><span>${$value.Remark}</span></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button id="btnRollback" type="button" class="btn btn-primary" style="display:none">Rollback</button>
</script>

@section scripts{
    @Scripts.Render("/Scripts/jquery.tmpl.min.js")
    <script>
        $(function() {
            $("#btnShow").click(function() {
                GetRecords($("#sltSiteId").val());
            });
            GetRecords($("#sltSiteId").val());
        });

        function GetRecords(siteId) {
            var parms = { "siteid": siteId };
            $.ajax({
                url: "/ApiContainer/SiteUploadRecords",
                type: "GET",
                data: parms,
                dataType: "json",
                success: function(data) {
                    $("#divRecordList").html($("#recordsTemplate").tmpl(data));
                    if (data.Res.length > 1) {
                        $("#btnRollback").show().bind('click', Rollback); //bind
                    }
                }
            });
        }

        function Rollback() {
            var siteId = $("#sltSiteId").val();
            var rId = $("input[name='ckbRecord']:checked").val();          
            var parms = { "siteid": siteId, "rid": rId };
            $.ajax({
                url: "/ApiContainer/Rollback",
                type: "POST",
                data: JSON.stringify(parms),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    if (data.res == 0) {
                        alert("success");
                    } else {
                        alert("fail");
                    }
                }
            });
        }
    </script>
}
